<div id="identite" class="sheet-section">
    <div class="column" id="illustration"><img src="http://fakeimg.pl/200x150/"></div>
    <div class="column" id="other">
        <span id="nom">
            <label for="nom">Nom</label>
            <input type="text"/>
        </span>
        <span id="sexe">
            <input id="sexe_f" name="sexe" type="radio" class="radio_input"/>
            <label for="sexe_f" class="radio_label">&#9792;</label>
            <input id="sexe_m" name="sexe" type="radio" class="radio_input"/>
            <label for="sexe_m" class="radio_label" >&#9794;</label>
        </span>
        <span id="origine">
            <label for="origine">Origine</label>
            <input type="text"/>
        </span>
        <span id="age">
            <label for="age">Age</label>
            <input type="text" class="span-3"/>
        </span>
        <span id="taille">
            <label for="taille">Taille</label>
            <input type="text" class="number span-2"/>
            <input type="text" class="span-4"/>
        </span>
        <span id="poids">
            <label for="poids">Poids</label>
            <input type="text" class="number span-2"/>
            <input type="text" class="span-4"/>
        </span>
        <span id="beaute">
            <label for="beaute">Beauté</label>
            <input type="text" class="number span-2"/>
        </span>
        <span id="tenue">
            <label for="tenue">Tenue</label>
            <input type="text" class="number span-2"/>
        </span>
        <span id="foi">
            <label for="foi">Foi</label>
            <input type="text" class="number span-2"/>
            <input type="text"/>
        </span>
    </div>
</div>